{% extends 'header.html'%}
{% load static%}

{% block content %}
<h1>Schedule Your Classes Here</h1>
<h3>Type in the course names and we will schedule them for you!</h3>
<i>ex) EECS281, AAS103</i>
<br><br>
<form action = "/getResult/" method = "post">{% csrf_token %}
    class 1: <input type = "text" name= "class1">
    class 2: <input type = "text" name= "class2">
    class 3: <input type = "text" name= "class3">
    class 4: <input type = "text" name= "class4">
    <!-- UPLW: <input type = "checkbox" name= "uplw">
    R&E: <input type = "checkbox" name= "rne"> -->
    <input type="submit" value="Result"/>
</form>
{% endblock %}
